div
  img(src="https://s3-us-west-1.amazonaws.com/tempo-tray-bucket/Feather.png", style="height: 60px; width: 60px;")
  h3 A friend tried to send a file to you through Feather
  div
    p Create an account on Feather to receive them!
    br/
    a(href="https://www.feathershare.com") Click here to create it
    br/
    br/
  p With Feather you can transfer any files to anyone, including yourself, in three simple steps. 1. Drop your files. 2. Select your recipients. 3. Send it!
