h3 #{from} sent you a file through Feather
p Click the link below to see and manage your file(s).
br
a(href=url) #{url}
br
p Feather is a hassle-free file transfer application. You can transfer files easily across any device and it's free! Create an account now at http://www.feathershare.com.
